@font-face {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}
body {
    height: 100%;
    background: #702807ad;
    background: linear-gradient(0deg, #702807ad, #4D220E);
}
html,body{
    overflow-x: hidden;
    width: 100vw;
    height: auto;
}

header {
    width: 100%;
}
header.fixed{
    position: fixed;
    transition: background-color .3s ease-in-out;
    top: 0;
    z-index: 1000;
    background-color: #4D220E;
}
* {
    font-family: Comfortaa;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
}

@keyframes fall {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        transform: translateY(100vh);
    }
}

@keyframes diagonal-fall {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
        transform: translate(10vw, 100vh);
    }
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.catalog-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 1000px;
    gap: 20px;
    flex-direction: column;
}

details article {
    opacity: 0;
    margin: 20px;
  }
  
  details[open] article {
    animation: fadeIn .75s linear forwards;
  }
  
  @keyframes fadeIn {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
  } 
  
  summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-weight: bold;
  }
  
  summary::after {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 10px solid #ffffff;
    border-inline: 7px solid transparent;
    transition: 0.2s;
  }
  
  details[open] > summary {border-bottom: 2px solid #ffffff00;}
  
  details[open] > summary::after {
    transform: rotate(-180deg);
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary {
    color: #fff;
    border-radius: 5px;
  }
  
  details[open] summary {
    border-radius: 5px 5px 0 0;
}

details[open]{
    border: 3px solid #5A4F4F ;
}

  
  details {
    background: #753313;
    border-radius: 5px;
    box-shadow: 0 20px 25px -5px rgba(75, 51, 16, 0.1), 0 10px 10px -5px rgba(77, 74, 74, 0.04);
  }
  
  /* extra styles */
  
  *
  article > *:first-child {margin: 0;}
  article > * + * {margin: 0.75em 0 0 0;}
  article {padding: 10px; margin: 0;}

  details:hover{
    cursor: pointer;
    border: 3px solid #4d220ea2 ;
  }

.title_text_product{
    font-size: 40px;
}
.container-social-info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 100%;
}
.logo {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 70px;
    height: 70px;
}
.logo-text{
    user-select: none;
}
.logo-text:hover:before {
    cursor: pointer;
    animation: moveLight 1.5s;
}
.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contact{
    display: flex;
    flex-direction: row;
}
.location-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.location-contact-2{
    display: flex;
    flex-direction: column;
}
.call-contact{
    display: flex;
    position: relative;
    flex-direction: column;
}
.circle {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 5px;
    background-color: #f00606;
    border-radius: 50%;
    animation: blink 1s step-end infinite;
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons i {
    margin-right: 20px;
    font-weight: 400;
    font-size: 25px;
}
.menu i:hover {
    transition: .4s;
}
.disabled {
    display: none;
}
.drop-container{
    display: none;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    right: -10px;
    width: 150px;
    height: 70px;

}

.drop_down{
    position: relative;
}

.drop_down svg {
    cursor: pointer;
    width: 25px; 
}
.drop-menu {
    display: flex;
    gap: 20px;
}
.drop-menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.drop-menu-item-1,
.drop-menu-item-2,
.drop-menu-item-3,
.drop-menu-item-4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    margin-left: 5px;
    gap: 10px; 
}
.drop-menu-item-2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    margin-left: 5px;
    gap: 10px;    
}
.drop-menu-items 
.ri-vk-fill, 
.ri-telegram-2-fill, 
.ri-whatsapp-fill,
.drop-menu-item-1,
.ri-map-pin-fill,
.ri-phone-fill
 {
    color: black;
}

.animation:hover{
    cursor: pointer;
    animation: 5s;
    transform: scale(1.3);
}

/* SWIPER */

.swiper {
    border-radius: 25px;
    margin: 25px 0 0 0;
    width: 1200px;
    height: 600px;
}
.swiper-wrapper {
    border-radius: 25px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.swiper-wrapper {
    border-radius: 20px;
}
.swiper-button-prev {
    color: rgba(255, 0, 0, 0.562);
}
.swiper-button-next{
    color: aqua;
}
.swiper-slide img{
    border-radius: 25px;
}
.swiper-pagination{
    border-radius: 25px;
    opacity: 50%;
}

.swiper-slide a{
    padding: 15px;
    border-radius: 25px;
    background-color: grey;
}
.swipe-buttons {
    border-radius: 25px;
    margin: 25px 0 0 0;
    width: 1200px;
    height: 600px;
}
.footer{
    z-index: -1000;
}

.hidden{
    display: none;
}